#card
{
  align-content: center;
}
@media screen and (min-width: 700px) {

  .content{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

  }

  .card{
    flex-basis: 45%;
  }
}


@media screen and (max-width: 1024px) {
  // #card{
  //   flex-basis: 40%;
  // }
}
