.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 766px) {
  .menubar{
    display: none;
  }
}

@media only screen and (min-width: 766px) {
  .mobilemenu{
    display: none;
  }
}

.active-list-item {
  color: #3F51B5 !important; /* Note: You could also use a custom theme */
}
