<mat-toolbar color="primary">

  <div>
    <!-- <mat-icon>D</mat-icon> -->
    <img src="../../assets/img/logo.png" alt="logo" width="30%" height="60%" >
  </div>

  <div class="spacer"></div>
  <div class="menubar">

    <button mat-button routerLink="/">Home</button>

    <button mat-button routerLink="categories">Categories</button>

    <button mat-button routerLink="akube">Our Store</button>

    <button mat-button routerLink="post">Offer Your Services</button>

    <!-- <button mat-button routerLink="about">About</button> -->

  </div>

  <div class="mobilemenu">
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <mat-nav-list>
        <button mat-menu-item routerLink="/" routerLinkActive="active-list-item">Home</button>
        <button mat-menu-item routerLink="categories" routerLinkActive="active-list-item">Categories</button>
        <button mat-menu-item routerLink="akube" routerLinkActive="active-list-item">Our Store</button>
        <button mat-menu-item routerLink="post" routerLinkActive="active-list-item">Offer Your Services</button>
        <!-- <button mat-menu-item routerLink="about">About</button> -->
      </mat-nav-list>

    </mat-menu>

  </div>

</mat-toolbar>
