<mat-toolbar color="primary">

  <div class="logo" style="background: white; width:180px; height: 90%; display: flex; padding-top: 5px;">
    <!-- <div style="background: red; flex-basis: 30%; height: 98%; align-content: center; align-items: center;margin: auto;"> -->
      <img src="../../assets/img/editedlogo.png" alt="logo" width="180px;" >


  </div>

  <div class="spacer"></div>
  <div class="menubar">

    <button mat-button routerLink="/">Home</button>

    <button mat-button routerLink="categories">Categories</button>

    <button mat-button routerLink="shop">Our Store</button>

    <button mat-button routerLink="post">Offer Your Services</button>

    <!-- <button mat-button routerLink="about">About</button> -->

  </div>

  <div class="mobilemenu">
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <mat-nav-list>
        <button mat-menu-item routerLink="/" routerLinkActive="active-list-item">Home</button>
        <button mat-menu-item routerLink="categories" routerLinkActive="active-list-item">Categories</button>
        <button mat-menu-item routerLink="shop" routerLinkActive="active-list-item">Our Store</button>
        <button mat-menu-item routerLink="post" routerLinkActive="active-list-item">Offer Your Services</button>
        <!-- <button mat-menu-item routerLink="about">About</button> -->
      </mat-nav-list>

    </mat-menu>

  </div>

</mat-toolbar>
