<div class="header" style="width: 100%; text-align: center;">
  <mat-icon>D</mat-icon><br>
  <img src="../../assets/img/logo.png" alt="logo" width="30%" height="60">
</div>
<hr>
<div class="container" >

 <!-- style="background: linear-gradient(#5900b3, #400080, #26004d); color:white;" -->
  <div class="contact" style="color:#8c8c8c; text-align: center;">
    <h3 style="color: #400080;">CONTACT INFORMATION</h3>
    <span><i class="fa fa-envelope"></i>: Daragsolutions@gmail.com</span><br>

    <span><i style='font-size:24px' class='fa fa-map-marker'></i>: 3, Unity Close, Wasiu Adarijo street, Abule Egba, Lagos</span><br>

    <span>
      <i class="fa fa-phone"></i>: 08169400410</span>
    <br>
    <hr>


  </div>


  <div class="socials" style="font-size: 30px; text-align: center;">
    <h3 style="color: #400080;">SOCIAL NETWORKS</h3>
    <div class="icons">
      <a href="https://twitter.com/Darag30755560"><i class="fa fa-twitter" style="color: #00acee;" ></i></a>
      <a href="https://www.instagram.com/dharnzmedia/"><i class="fa fa-instagram" style="color: #3f729b"></i></a>
      <a href="https://wa.me/8169400410?text=I%20want%20to%20enquire%20about%20your%20service"><i class="fa fa-whatsapp" style="color: #128c7e;"></i></a>
      <a href="https://web.facebook.com/dharnzmedia"><i class="fa fa-facebook" style="color: #3b5998"></i></a>
    </div>

  </div>
  <hr>

</div>
<div style="color: #400080; width: 100%; text-align: center;"><h3>Google Map</h3></div>
<div class="jumbotron">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.0312865902806!2d3.2859387147713486!3d6.643036895196458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b90c8ccf01cd7%3A0xe953c75c6899e2d7!2sEkoro%20Rd%2C%20Lagos!5e0!3m2!1sen!2sng!4v1590842188867!5m2!1sen!2sng"
    width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>"

</div>

<div class="copyright" style="width: 100%; text-align: center; color:  #400080; font-size:10px; padding: 10px;">
  <p>&copy; 2020 ServeIT</p>
</div>
