<div class="header" style="width: 100%; text-align: center;">
  <mat-icon>D</mat-icon>
  <img src="../../assets/img/headerlogo.png;" alt="logo">
</div>
<div class="container" >

 <!-- style="background: linear-gradient(#5900b3, #400080, #26004d); color:white;" -->
  <div class="contact" style="color:#8c8c8c; text-align: center;">
    <h3 style="color: #400080;">CONTACT INFORMATION</h3>
    <span><i class="fa fa-envelope"></i>: Adeyinkadaniel09@gmail.com</span><br>
    <hr>
    <span><i style='font-size:24px' class='fa fa-map-marker'></i>: 3, Unity Close, Wasiu Adarijo street, Abule Egba, Lagos</span><br>
    <hr>
    <span><i class="fa fa-phone"></i>: 08169400410</span>
  </div>
  <hr>
  <div class="socials" style="font-size: 30px; text-align: center;">
    <h3 style="color: #400080;">SOCIAL NETWORKS</h3>
    <div class="icons">
      <i class="fa fa-twitter" style="color: #00acee;"></i>
      <i class="fa fa-instagram" style="color: #3f729b"></i>
      <i class="fa fa-whatsapp" style="color: #128c7e;"></i>
      <i class="fa fa-facebook" style="color: #3b5998"></i>
    </div>

  </div>
  <hr>

</div>
<div class="copyright" style="width: 100%; text-align: center; color:  #400080; font-size:10px; padding: 10px;">
  <p>&copy; 2020 ServeIT</p>
</div>
