<div class="jumbotron" style="text-align: center;">
  <h1>About Name</h1>
  <p>{{name}}Name is an initiative of Dharnzkraft Media solely to ease the stress
   of an individual in search of a professional service(s) and in the other hand provide
    jobs for diligent artisans who are professional enough
  to deliver on their field of specialization. {{name}}Name is committed to
  ensuring adequate customer satisfaction service to it's client ascertain continuous service
   rendering to it's esteemed clients.</p>

  <br>
  <br>
  <h3>Feedbacks And Enquiries</h3>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]="feedbackName" name="feedbackName" placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Comment/Feedback</mat-label>
      <textarea matInput required [(ngModel)]="feedback" name="feedback"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>

  <br>
  <br>
  <h3>LOCATION</h3>
  <img src="" alt="" srcset="">
</div>
