<div class="container">

    <div class=" menu">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              View By Category
            </mat-panel-title>

          </mat-expansion-panel-header>

            <button style="width: 80%;" mat-flat-button color="accent" (click)="showAuto()">Auto Repairs</button>
            <br>
            <hr>
            <button style="width: 80%;" mat-flat-button color="accent" (click)="showElect()">Electronic And Electrical Repairs</button>
            <br>
            <hr>
            <button style="width: 80%;" mat-flat-button color="accent" (click)="showFarm()">Plumbing And Carpentry</button>
            <br>
            <hr>
            <button style="width: 80%;" mat-flat-button color="accent" (click)="showSale()">Accessories Sales</button>
            <br>
            <hr>
            <button style="width: 80%;" mat-flat-button color="accent" (click)="showFabric()">Other Services</button>




        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <div class="catContent">

      <div id="fabric">

        <mat-card *ngFor='let Fabric of Fabrics' class="content">
          <mat-card-header>
            <mat-card-title>{{Fabric.fabricnames}}</mat-card-title>
            <mat-card-subtitle>LOCATION: {{Fabric.fabriclocation}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            {{Fabric.image}}
            <p>DESCRIPTION: {{Fabric.fabricdesc}}</p>
            <br>CONTACT: {{Fabric.fabricdetails}}
          </mat-card-content>
        </mat-card>
      </div>

      <hr>
      <div id="sale">
        <mat-card *ngFor='let Item of Items' class="content">
          <mat-card-header>
            <mat-card-title>{{Item.salesnames}}</mat-card-title>
            <mat-card-subtitle>{{Item.saleslocation}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>{{Item.salesdesc}}</p>
            <br> {{Item.salesdetails}}
          </mat-card-content>
        </mat-card>
      </div>

      <hr>
      <div id="elect">
        <mat-card *ngFor='let Elect of Elects' class="content">
          <mat-card-header>
            <mat-card-title>{{Elect.electnames}}</mat-card-title>
            <mat-card-subtitle>{{Elect.electlocation}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>{{Elect.electdesc}}</p>
            <br> {{Elect.electdetails}}
          </mat-card-content>
        </mat-card>
      </div>

      <hr>
      <div id="auto">
        <mat-card *ngFor='let Auto of Autos' class="content">
          <mat-card-header>
            <mat-card-title>{{Auto.autonames}}</mat-card-title>
            <mat-card-subtitle>{{Auto.autolocation}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>{{Auto.autodesc}}</p>
            <br> {{Auto.autodetails}}
          </mat-card-content>
        </mat-card>
      </div>
      <hr>

      <div id="agric">
        <mat-card *ngFor='let Agric of Agrics' class="content">
          <mat-card-header>
            <mat-card-title>{{Agric.agricnames}}</mat-card-title>
            <mat-card-subtitle>{{Agric.agriclocation}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>{{Agric.agricdesc}}</p>
            <br> {{Agric.agricdetails}}
          </mat-card-content>
        </mat-card>
      </div>



    </div>

</div>
