.gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  background: blue;
  right: 50px;
}
.catContent{

  padding: 20px;
  box-sizing: border-box;

}
.content{
  margin-top: 5px;
  height: auto;
  overflow-y: scroll;

}

// #fabric {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// #sale {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// #elect {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// #auto {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }
// #agric {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }


@media screen and (min-width: 700px) {

  .content{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

  }

  .card{
    flex-basis: 48%;
  }
}





@media screen and (max-width: 1024px) {
  .content{
    flex-basis: 40%;
  }

}

.menulist{

}
li{
  padding: 4px;
  border-radius: 3px;
  margin-top: 5px;
  background: #ccc;
  margin: auto;
}


