<mat-card>

  <form class="container" (ngSubmit)="addPost()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]="name" name="names">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="category" name="category">
        <mat-option value="option1">Category 1</mat-option>
        <mat-option value="option2">Category 2</mat-option>
        <mat-option value="option3">Category 3</mat-option>
        <mat-option value="option4">Category 4</mat-option>
        <mat-option value="option5">Category 5</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Service Description</mat-label>
      <textarea matInput required [(ngModel)]="description" name="desc"></textarea>
    </mat-form-field>

    <button mat-button color="primary" type="submit">submit</button>
  </form>



</mat-card>
<mat-card class="container" *ngFor='let Item of Items'>
  {{item.name}} : {{item.category}}
</mat-card>
