<div  style=" padding: 5px; border-radius: 0 0 5px 5px; color:#8c8c8c; background: white; text-align: center;  width: 100%;">
  <img src="../../assets/img/hiring.png" alt="banner" style="width: 100%; height: 30%; position: relative;" />
</div>

<mat-card class="post" style=" padding: 10px;">
  <!-- Other Services -->
  <div class="fabric" [formGroup]="formTemplate" id="inputDetails">
    <mat-card-header>
      <mat-card-title>Offer Your Service</mat-card-title>
    </mat-card-header>
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <form [formGroup]="formTemplate">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Mr Collins, Mr Collins & Sons....">
            <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <select formControlName="category" class="formControl">
              <option value="auto" selected>Auto Repair</option>
              <option value="elect">Electrical & Electronics</option>
              <option value="plumb">Woodwork & Plumbing</option>
              <option value="sales">Sales</option>
              <option value="other">Other Services</option>

            </select>
          </div>
          <div class="form-group">
            <label>Verified?</label>
            <input type="text" class="form-control" formControlName="verify">
          </div>
          <div class="form-group">
            <label>Service Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="We offer quality fashion design services.......">
            <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <label>upload image</label>
            <input type="file" accept="image/jpg, image/png" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">

            <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This Field is Required</div>
          </div>
          <img [src]="imgSrc" width="250px" height="300px" (click)="fileUploader.click()">

          <br>
          <br>
          <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" type="number" formControlName="number" placeholder="8169xxx410">
            <div class="text-danger" *ngIf="isSubmitted && formControls.number.errors?.required">This Field is Required</div>
          </div>
          <br><br>
          <div class="form-group">
            <label>Address</label>
            <input class="form-control" formControlName="address" placeholder="3, Unity Close, Ifako Gbagada, Lagos">
            <div class="text-danger" *ngIf="isSubmitted && formControls.address.errors?.required">This Field is Required</div>
          </div>


          <div class="form-group">
            <button mat-raised-button type="button" (click)="onSubmit(formTemplate.value)" color="accent">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
