<mat-card class="post" style=" padding: 10px;">
  <!-- Other Services -->
  <div class="fabric" [formGroup]="formTemplate" id="inputDetails">
    <mat-card-header>
      <mat-card-title><h2 style="width: 100%; text-align: center;">Akube Form</h2></mat-card-title>
    </mat-card-header>
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <form [formGroup]="formTemplate">
          <div class="form-group">
            <label>Name <i style="font-size: 10px; color: red;">(minimum of 20 characters)</i></label>
            <input type="text" class="form-control" formControlName="akubename" maxlength="25" minlength="20" placeholder="Name Of Product">
            <div class="text-danger" *ngIf="isSubmitted && formControls.akubename.errors?.required">This Field is Required</div>
          </div>

          <div class="form-group">
            <label>Location <i style="font-size: 10px; color: red;">(minimum of 40 characters)</i></label>
            <input type="text" class="form-control" maxlength="60" minlength="40"formControlName="location" placeholder="Lagos">
            <div class="text-danger" *ngIf="isSubmitted && formControls.location.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <label>Category </label>
            <input type="text" class="form-control" formControlName="category" placeholder="akube" value="akube">
            <div class="text-danger" *ngIf="isSubmitted && formControls.category.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <label>upload First image</label>
            <input type="file" accept="image/jpg, image/png" class="form-control" #fileUploader formControlName="imageUrl1" (change)="showPreview($event)">
            <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl1.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <label>Phone Number <i style="font-size: 10px; color: red;">(minimum of 10 characters)</i></label>
            <input class="form-control" type="number" formControlName="number" maxlength="11" placeholder="08169xxx410">
            <div class="text-danger" *ngIf="isSubmitted && formControls.number.errors?.required">This Field is Required</div>
          </div>
          <!-- <div class="form-group">
            <label>upload second image</label>
            <input type="file" accept="image/jpg, image/png" class="form-control" #fileUploader formControlName="imageUrl2" (change)="showPreview($event)">
            <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl2.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <label>upload third image</label>
            <input type="file" accept="image/jpg, image/png" class="form-control" #fileUploader formControlName="imageUrl3" (change)="showPreview($event)">
            <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl3.errors?.required">This Field is Required</div>
          </div> -->
          <!-- <img [src]="imgSrc" width="250px" height="300px" (click)="fileUploader.click()"> -->
          <br>
          <br>
          <div class="form-group">
            <label>Price</label>
            <input class="form-control" type="number" formControlName="price" maxlength="20" placeholder="#00:00">
            <div class="text-danger" *ngIf="isSubmitted && formControls.price.errors?.required">This Field is Required</div>
          </div>
          <div class="form-group">
            <button mat-raised-button type="button" (click)="onSubmit(formTemplate.value)" color="accent">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</mat-card>
