<div class="body">

      <img src="../../assets/img/farmtest.png" alt="..." style="width: 100%;">


  <h2 style="background: #ccc; padding: 5px; text-align: center; border-radius: 10px;">Our Mission</h2>
  <div class="background">
    <mat-card class="homeContent first">
      <mat-card-header>
        <mat-card-title>Lorem ipsum </mat-card-title>
        <mat-card-subtitle>dolor sit amset consectetur</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        adipisicing elit. Odio quae error, nobis voluptatum aut pariatur beatae officiis corporis libero, magnam esse! Neque dolorem
        eveniet commodi libero perferendis eligendi minus tempore.
      </mat-card-content>

    </mat-card>
    <mat-card class="homeContent 2">
      <mat-card-header>
        <mat-card-title>Lorem ipsum </mat-card-title>
        <mat-card-subtitle>dolor sit amet consectetur</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        adipisicing elit. Odio quae error, nobis voluptatum aut pariatur beatae officiis corporis libero, magnam esse! Neque dolorem
        eveniet commodi libero perferendis eligendi minus tempore.
      </mat-card-content>

    </mat-card>

    <mat-card class="homeContent third">
      <mat-card-header>
        <mat-card-title>Lorem ipsum </mat-card-title>
        <mat-card-subtitle>dolor sit amet consectetur</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        adipisicing elit. Odio quae error, nobis voluptatum aut pariatur beatae officiis corporis libero, magnam esse! Neque dolorem
        eveniet commodi libero perferendis eligendi minus tempore.
      </mat-card-content>

    </mat-card>
    <mat-card class="homeContent fourth">
      <mat-card-header>
        <mat-card-title>Lorem ipsum </mat-card-title>
        <mat-card-subtitle>dolor sit amet consectetur</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        adipisicing elit. Odio quae error, nobis voluptatum aut pariatur beatae officiis corporis libero, magnam esse! Neque dolorem
        eveniet commodi libero perferendis eligendi minus tempore.
      </mat-card-content>

    </mat-card>
  </div>

</div>
<mat-card>
  <h3 style="text-align: center; font-size: 20px;">Some Of Our Verified and Trusted Artisans</h3>
  <div class="some">
    <!-- <div class="button">
            <i class="fa fa-facebook"></i>
            <div class="blurred">
              <span></span>
              <span></span>
            </div>
          </div> -->
    <div class="img">
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iste doloribus dicta molestias. Rerum at odio non quae ipsum
              similique a officiis aliquid, aspernatur quam eveniet velit et tenetur distinctio!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img">
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iste doloribus dicta molestias. Rerum at odio non quae ipsum
            similique a officiis aliquid, aspernatur quam eveniet velit et tenetur distinctio!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="img">
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iste doloribus dicta molestias. Rerum at odio non quae ipsum
              similique a officiis aliquid, aspernatur quam eveniet velit et tenetur distinctio!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img">
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iste doloribus dicta molestias. Rerum at odio non quae ipsum
              similique a officiis aliquid, aspernatur quam eveniet velit et tenetur distinctio!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img">
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
               Illo iste doloribus dicta molestias.
              Rerum at odio non quae ipsum similique a officiis aliquid,
               aspernatur quam eveniet velit et tenetur distinctio!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<br>
  <h2 style="width: 100%; text-align: center;">Our Agro Products</h2>
  <div class="container farm">

    <mat-card class="farmcard">
      <mat-card-header>
        <mat-card-title>Broiler</mat-card-title>
        <mat-card-subtitle>Exotic Kaduna Breed</mat-card-subtitle>
      </mat-card-header>
      <img src="../../assets/img/farmtest.png" style="width: 100%; height: 300px;" />
      <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta natus odio distinctio ullam fugit non facere. Labore dolorem
        deleniti asperiores aliquid aspernatur porro recusandae, rerum iusto exercitationem ab quisquam eius!
        <br>
        <button mat-raised-button color="primary">Contact Us</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="farmcard">
      <mat-card-header>
        <mat-card-title>Broiler</mat-card-title>
        <mat-card-subtitle>Exotic Kaduna Breed</mat-card-subtitle>
      </mat-card-header>
      <img src="../../assets/img/farmtest.png" style="width: 100%; height: 300px;" />
      <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta natus odio distinctio ullam fugit non facere. Labore dolorem
        deleniti asperiores aliquid aspernatur porro recusandae, rerum iusto exercitationem ab quisquam eius!
        <br>
        <button mat-raised-button color="primary">Contact Us</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="farmcard">
      <mat-card-header>
        <mat-card-title>Broiler</mat-card-title>
        <mat-card-subtitle>Exotic Kaduna Breed</mat-card-subtitle>
      </mat-card-header>
      <img src="../../assets/img/farmtest.png" style="width: 100%; height: 300px;" />
      <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta natus odio distinctio ullam fugit non facere. Labore dolorem
        deleniti asperiores aliquid aspernatur porro recusandae, rerum iusto exercitationem ab quisquam eius!
        <br>
        <button mat-raised-button color="primary">Contact Us</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="farmcard">
      <mat-card-header>
        <mat-card-title>Broiler</mat-card-title>
        <mat-card-subtitle>Exotic Kaduna Breed</mat-card-subtitle>
      </mat-card-header>
      <img src="../../assets/img/farmtest.png" style="width: 100%; height: 300px;" />
      <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta natus odio distinctio ullam fugit non facere. Labore dolorem
        deleniti asperiores aliquid aspernatur porro recusandae, rerum iusto exercitationem ab quisquam eius!
        <br>
        <button mat-raised-button color="primary">Contact Us</button>
      </mat-card-content>
    </mat-card>

  </div>


