.test {
  width: 150px;
  border: 1px solid #000000;
  white-space: normal;
  word-wrap: break-word;
}

// .background{
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   margin: 40px auto 0 auto;
//   padding: 30px 0;
//   align-items: center;
// }
.content{
  width: 100%;

}

#card-text{
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}
#box-container{
  display: flex;
  justify-content: space-around;
}
.overlay{
  background: rgba(0,0,0,.2);
}
.overlay:hover{
  -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}


@media screen and (min-width: 750px) {

  .box{
  // flex-basis: 30%;
  height: 220px;
  flex: 1;
  flex-basis: 25%;
  }

  #mecho{
    display: none;
  }

  #card{
    height: 750px;
  }
  #card{
    flex-basis: 30%;
  }
  #card2{
    flex-basis: 30%;
  }
}


@media screen and (max-width: 500px) {

  .background{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .content{
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  // .content::-webkit-scrollbar{
  //   display: none;
  // }
  #boxContainer{

    flex-direction: column;

  }
  .box{
    width: 100%;
    height: 250px;
    border-radius: 10px;

  }

  #imghead{
    width: 80%;
  }
  #card{
    display: inline-block;
    height: 100%;
    height: 430px;
  }
  #titleVer{
    font-size: 15px;
    height: 20px;
  }
  #card-text{
    font-size: 12px;
    height: 20px;
    padding-top: -10px;
  }
  #card-text2{
    font-size: 10px;
    height: 8px;

  }
  #dial{
    margin-top: -15px;
  }
  hr{
        margin: 0px;
  }
}

.homeContent {
  flex-basis: 48%;
  margin: auto;
  // background: linear-gradient(#cc0066, #9933ff, #e6ccff);
  border-radius: 6px;
  box-shadow: #ccc 2px 3px 4px;
  margin-bottom: 10px;
}

.first {
  margin-top: -50px;
}
.fourth{
  margin-top: 60px;
}

.some {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img {
  width: 300px;
  height: 200px;
  // background: #ccc;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 4px;
}

// liquid button
.button{
    position:relative;
    width: 50px;
    height:50px;
    margin: 0 auto;
}

i{
    position: absolute;
    top:50%;
    left:50%;
    height: 50%;
    transform: translate(-50%, -50%);
    z-index: 10 ;
    color: white;
}

.blurred{
    position: relative;
    top: 0;
    left:0;
    width: 50px;
    border-radius:100%;
    filter: url(#goo);
}

.blurred::before{
    content: '';
    position: absolute;
    top:50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    border-radius: 100%;
    transition: 1.5s cubic-bezier(0,2,.61,-0.05);
}

.blurred::after{
    content: '';
    position: absolute;
    top:50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    border-radius: 100%;
    transition: 1.7s cubic-bezier(0,2,.61,-0.05);
}

.blurred > span:nth-of-type(1),
.blurred > span:nth-of-type(2){
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    left: 0;
    background-color: black;
    border-radius: 100%;
    transition: 1.2s cubic-bezier(0,2,.61,-0.05);
}

.button:hover .blurred::before {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
}

.button:hover .blurred::after {
    width: 15px;
    height: 15px;
    top: 30px;
    left: 45px;
}

.button:hover .blurred > span:nth-of-type(2){
    width: 25px;
    height: 25px;
    top: 40px;
    left: -20px;
}

// end of liquid button

@media screen and (min-width: 700px) {

  .content{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

  }

  .card{
    flex-basis: 48%;
  }
}

@media screen and (min-width: 1124px)  {
  #slide{
    height: 30%;
    width: 40%;
    margin: auto;
  }

  #slideContainer {
    display: flex;
  }

}

