<div id="slideContainer">
  <div id="slide" style="padding: 10px;">
    <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
      <div class="item" style="background: rgba(0,0,0,.2)">
        <img src="../../assets/img/slide1.png" />
      </div>
      <div class="item" style="background: black">
        <img src="../../assets/img/slide2.png" />
      </div>
    </owl-carousel>
  </div>
</div>

<br>

<hr>


  <h3 style="width: 100%; text-align: center;">
    <b>What Are You Interested In ?</b>

  </h3>
<br>
<div class="container" id="boxContainer" style="display: flex; justify-content: space-around;">


      <div class="box" style="background-image: url(../../assets/img/carpenter.jpg); background-repeat: no-repeat; background-size: cover;">
        <div class="overlay" style="background:rgba(0,0,0,.2); z-index: 1; height: 100%; padding: 10px;">
          <h3 style="color: white; margin: 0 0 3px 0; font-family: 'Times New Roman', Times, serif; line-height: 1.4em; font-weight: 800; font-size: 25px;">Carpenter</h3>
          <div class="line" style="height: 2px; width: 40%; content: ''; display: block; background-color: #fff; margin-top: 10px;"></div>
          <button mat-stroked-button color="accent" routerLink="categories"><mat-icon>sort</mat-icon>VIEW</button>

        </div>
      </div>




    &nbsp;

    <div class="box" id="mecho" style="background-image: url(../../assets/img/mechanic.jpg); background-repeat: no-repeat;">
      <div class="overlay" style="background:rgba(0,0,0,.2); z-index: 1; height: 100%; padding: 10px;">
        <h3 style="color: white; margin: 0 0 3px 0; font-family: 'Times New Roman', Times, serif; line-height: 1.4em; font-weight: 800; font-size: 25px;">Auto Repair</h3>
        <div class="line" style="height: 2px; width: 40%; content: ''; display: block; background-color: #fff; margin-top: 10px;"></div>
                  <button mat-stroked-button color="accent" routerLink="categories"><mat-icon>sort</mat-icon>VIEW</button>

      </div>
    </div>
         &nbsp;

    <div class="box" style="background-image: url(../../assets/img/plumbing.jpg); background-repeat: no-repeat;">
      <div class="overlay" style="background:rgba(0,0,0,.2); z-index: 1; height: 100%; padding: 10px;">
        <h3 style="color: white; margin: 0 0 3px 0; font-family: 'Times New Roman', Times, serif; line-height: 1.4em; font-weight: 800; font-size: 25px;">Plumber</h3>

        <div class="line" style="height: 2px; width: 40%; content: ''; display: block; background-color: #fff; margin-top: 10px;"></div>
                  <button mat-stroked-button color="accent" routerLink="categories"><mat-icon>sort</mat-icon>VIEW</button>

      </div>
    </div>
         &nbsp;

    <div class="box" style="background-image: url(../../assets/img/weldering.png); background-repeat: no-repeat;">

      <div class="overlay" style="background:rgba(0,0,0,.2); z-index: 1; height: 100%; padding: 10px;">
        <h3 style="color: white; margin: 0 0 3px 0; font-family: 'Times New Roman', Times, serif; line-height: 1.4em; font-weight: 800; font-size: 25px;">Steel Constructor</h3>

        <div class="line" style="height: 2px; width: 40%; content: ''; display: block; background-color: #fff; margin-top: 10px;"></div>
                  <button mat-stroked-button color="accent" routerLink="categories"><mat-icon>sort</mat-icon>VIEW</button>

      </div>
    </div>
     &nbsp;
    <div class="box" style="background-image: url(../../assets/img/catering.jpeg); background-repeat: no-repeat; background-size: cover;">
      <div class="overlay" style="background:rgba(0,0,0,.2); z-index: 1; height: 100%; padding: 10px;">
        <h3 style="color: white; margin: 0 0 3px 0; font-family: 'Times New Roman', Times, serif; line-height: 1.4em; font-weight: 800; font-size: 25px;">Catering and Other Services</h3>
        <div class="line" style="height: 2px; width: 40%; content: ''; display: block; background-color: #fff; margin-top: 10px;"></div>
        <button mat-stroked-button color="accent" routerLink="categories">
          <mat-icon>sort</mat-icon>VIEW</button>

      </div>
    </div>
</div>
<hr>
&nbsp;





<div class="jumbotron" style="text-align: center;">
          <h2 style=" margin: 0 0 3px 0; font-family: 'Times New Roman', Times, serif; line-height: 1.4em; font-weight: 500; font-size: 20px;">Some Of Our Experienced Artisans</h2>
  <div class="content">

    <div id="card" class="card bg-light mb-3" *ngFor="let imageList of imageLists" style=" padding: 5px; border-radius: 10px; width: 100%;  ">
      <div class="card-header" *ngIf="imageList.imageUrl" style="display: flex; height: 50%;">
        <img [src]="imageList.imageUrl" width="100%" height="100%" style="margin: auto;" id="imghead">
      </div>
      <div class="card-body" style=" margin: auto; align-content: center; text-align: center; align-items: center; height: 50%; margin-top: -20px;">

        <h2 class="card-title" id="titleVer">{{imageList.name}}</h2>
        <hr>

        <h4 id="card-text" class="card-subtitle" >{{imageList.description}}</h4>
        <br>
        <hr>

        <h5 id="card-text2">Address: {{imageList.address}}</h5>
<hr>
        <h5>
          Phone: 0{{imageList.number}}</h5>
        <br>
        <div id="dial" style="display: flex; justify-content: space-around; ">
          <div id="verify" style="background: #400080; color: #ccc; padding: 5px; border-radius: 10%; width: 70px; text-align: center; text-transform: uppercase; font-family: serif; font-size: 10px;">{{imageList.verify}}</div>
          &nbsp;&nbsp;
          <a mat-raised-button href="https://wa.me/+234{{imageList.number}}?text=I'm%20interested%20in%20{{imageList.name}}%20services%20....%20please"
            style="background: #128c7e;">
            <i class="fa fa-whatsapp" style="font-size: 25px; color:white; margin-top: -5px;"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <button mat-fab color="primary" routerLink="/" >
  <mat-icon>arrow_upward</mat-icon>
</button> -->
<br>
<ngx-scrolltop [backgroundColor]="'#212121'" [symbolColor]="'#fafafa'" [size]="40" [mode]="'classic'" position="right" theme="gray">
</ngx-scrolltop>

  <div class="container">
    <mat-card-header><h2 style="width: 100%; text-align: center; font-family: 'Times New Roman', Times, serif;">Checkout Our Store</h2></mat-card-header>
      <div class="content">

        <div id="card2" class="card bg-light mb-3" *ngFor="let akubeImageList of akubeImageLists" style=" display: flex; padding: 5px; border-radius: 10px;">
          <div class="card-header" *ngIf="akubeImageList.imageUrl" style="display: flex;">
            <img [src]="akubeImageList.imageUrl" width="100%" height="300px" style="margin: auto;">
          </div>
          <div class="card-body" style="margin: auto; align-content: center; text-align: center; align-items: center; white-space: normal;
  word-wrap: break-word;">
            <h2 class="card-title">{{akubeImageList.akubename}}</h2>
            <hr>
            <div style=" border-radius: 3px; padding: 5px;">
              <h3 class="card-text">
                Location: {{akubeImageList.location}}</h3>
              <hr>
              <h4 class="card-text">
                Amount: &#x20a6;{{akubeImageList.price}}</h4>
              <hr>
              <h4 class="card-text">
                          Phone: +234{{akubeImageList.number}}</h4>
            </div>
            <br>
            <div style="display: flex; justify-content: space-around; ">
              <!-- <div id="verify" style="background: #400080; color: #ccc; padding: 5px; border-radius: 10%; width: 70px; height: 35px; text-align: center; ">{{imageList.verify}}</div> -->

              <a mat-raised-button href="https://wa.me/+234{{akubeImageList.number}}?text=I'm%20interested%20in%20{{akubeImageList.akubename}}%20services%20....%20please"
                style="background: #128c7e; height: 30px; ">
                <i class="fa fa-whatsapp" style="font-size: 25px; color:white; height: 90%; "></i>
              </a>
            </div>

          </div>

</div>
<div style="width: 100%; align-content: center; align-items: center; text-align: center;">
  <button mat-raised-button routerLink="shop" color="primary" style="align-self: center;" >see more</button>
</div>




